<!-- Toolbar -->
<p-toolbar styleClass="mb-2">
    <ng-template #start>
        <p-button icon="fa-solid fa-home" class="mr-2" [rounded]="true" [outlined]="true" [severity]="'secondary'"
            (onClick)="router.navigate(['/'])" />

        <p-iconfield>
            <p-inputicon styleClass="pi pi-search" />
            <input pInputText type="text" placeholder="Search..." (input)="onGlobalFilter(dt, $event)" />
        </p-iconfield>
        <p-button icon="fa-solid fa-text-slash" class="ml-2" [rounded]="true" [outlined]="true" severity="contrast"
            (click)="clearGlobalFilter(dt)" />
        <p-button icon="pi pi-plus" class="ml-4" [rounded]="true" [outlined]="true" severity="success"
            (onClick)="openNew()" />
    </ng-template>
</p-toolbar>

<!-- List View -->
<p-table #dt dataKey="id" [value]="data()" [globalFilterFields]="['region', 'hostCenter', 'name', 'centers']"
    [tableStyle]="{ 'min-width': '75rem' }" [rowHover]="true" [scrollable]="true" scrollHeight="450px"
    [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} Events"
    [paginator]="true" [rows]="10" [rowsPerPageOptions]="[10, 20, 30]">

    <!-- List View Header -->
    <ng-template #header>
        <tr>
            <th style="width: 1rem"></th>
            <th pSortableColumn="region" class="whitespace-nowrap">
                Region
                <p-sortIcon field="region" />
            </th>
            <th pSortableColumn="hostCenter" class="whitespace-nowrap">
                Host Center
                <p-sortIcon field="hostCenter" />
            </th>
            <th class="whitespace-nowrap">
                Centers
            </th>
            <!-- <th pSortableColumn="name" class="whitespace-nowrap">
                Name
                <p-sortIcon field="name" />
            </th> -->
            <th pSortableColumn="startDate" class="whitespace-nowrap">
                Date
                <p-sortIcon field="startDate" />
            </th>

            <th pSortableColumn="status" class="whitespace-nowrap">
                Status
                <p-sortIcon field="status" />
            </th>
        </tr>
    </ng-template>

    <!-- List View Data -->
    <ng-template #body let-item>
        <tr>
            <td [vAlign]="'top'">
                <p-button icon="pi pi-pencil" class="mr-2" [rounded]="true" [outlined]="true"
                    (click)="openEdit(item)" />
            </td>
            <td [vAlign]="'top'" class="whitespace-nowrap"><i class="pi pi-map"></i> {{ item.region }}</td>
            <td [vAlign]="'top'" class="whitespace-nowrap"><i class="pi pi-building-columns"></i> {{ item.hostCenter }}
            </td>
            <td [vAlign]="'top'">
                <ul>
                    <li class="mb-2 whitespace-nowrap" *ngFor="let center of item.centers"> <i
                            class="pi pi-building-columns"></i>
                        {{center}}</li>
                </ul>
            </td>
            <!-- <td class="whitespace-nowrap">{{ item.name }}</td> -->
            <td [vAlign]="'top'" class="whitespace-nowrap">
                {{ item.startDate | date:'MM/dd/yyyy hh:mm a'}} <br>
                {{ item.endDate | date:'MM/dd/yyyy hh:mm a'}}
            </td>
            <td [vAlign]="'top'">
                <p-tag [value]="item.status" [severity]="constants.GetStatusTag(item.status)"
                    styleClass="dark:!bg-surface-900" />
            </td>
        </tr>
    </ng-template>
</p-table>

<!-- Add/Edit Dialog -->
<p-dialog [(visible)]="dialog" [style]="{ width: '500px', height: '650px' }" header="Event Details" [modal]="true">
    <ng-template #content>
        <div class="flex flex-col gap-2">

            <!-- Region -->
            <div class="grid grid-cols-12 gap-2">
                <label for="region" class="flex font-bold items-center col-span-4">Region*</label>
                <div class="col-span-8">
                    <p-select inputId="region" [options]="regionsService.Regions" optionLabel="label"
                        optionValue="value" [(ngModel)]="addOrEditItem.region" placeholder="Select a Region"
                        (onChange)="getCentersForRegion()" fluid />
                    <small class="text-red-500" *ngIf="submitted && !addOrEditItem.region">region is
                        required.</small>
                </div>
            </div>

            <!-- Host Center -->
            <div class="grid grid-cols-12 gap-2">
                <label for="hostCenter" class="flex font-bold items-center col-span-4">Host Center*</label>
                <div class="col-span-8">
                    <p-select inputId="hostCenter" [options]="regionsService.GetCentersForRegion(addOrEditItem.region)"
                        optionLabel="label" optionValue="value" [(ngModel)]="addOrEditItem.hostCenter"
                        placeholder="Select a Center" fluid />
                    <small class="text-red-500" *ngIf="submitted && !addOrEditItem.region">Host Center is
                        required.</small>
                </div>
            </div>

            <!-- Start Date -->
            <div class="grid grid-cols-12 gap-2">
                <label for="startDate" class="flex font-bold items-center col-span-4">Start Date*</label>
                <div class="col-span-8">
                    <p-datepicker inputId="startDate" size="small" [style]="{width:'100%'}"
                        [(ngModel)]="addOrEditItem.startDate" [showTime]="true" [showIcon]="true" />
                    <small class="text-red-500" *ngIf="submitted && !addOrEditItem.startDate">Start Date is
                        required.</small>
                </div>
            </div>

            <!-- End Date -->
            <div class="grid grid-cols-12 gap-2">
                <label for="startDate" class="flex font-bold items-center col-span-4">End Date*</label>
                <div class="col-span-8">
                    <p-datepicker inputId="endDate" size="small" [style]="{width:'100%'}"
                        [(ngModel)]="addOrEditItem.endDate" [showTime]="true" [showIcon]="true" />
                    <small class="text-red-500" *ngIf="submitted && !addOrEditItem.endDate">End Date is
                        required.</small>
                </div>
            </div>

            <!-- Status -->
            <div class="grid grid-cols-12 gap-2">
                <label for="status" class="flex font-bold items-center col-span-4">Status*</label>
                <div class="col-span-8">
                    <p-select inputId="status" [options]="constants.UserStatuses" optionLabel="label"
                        optionValue="value" [(ngModel)]="addOrEditItem.status" placeholder="Select a Status" fluid />
                    <small class="text-red-500" *ngIf="submitted && !addOrEditItem.status">Status is
                        required.</small>
                </div>
            </div>
            <!-- Centers -->
            <p-toolbar styleClass="mb-2">
                <ng-template #start>
                    <p-iconfield>
                        <p-inputicon styleClass="pi pi-search" />
                        <input pInputText type="text" placeholder="Search..."
                            (input)="onGlobalFilter(dtCenters, $event)" />
                    </p-iconfield>
                    <p-button icon="fa-solid fa-text-slash" class="ml-2" [rounded]="true" [outlined]="true"
                        severity="contrast" (click)="clearGlobalFilter(dtCenters)" />
                </ng-template>
            </p-toolbar>
            <p-table #dtCenters [value]="centersForRegion()" [(selection)]="addOrEditItem.centers"
                [globalFilterFields]="['label']" [rowHover]="true" stripedRows>

                <ng-template #header>
                    <tr>
                        <th style="width: 1rem"><i class="pi pi-building-columns"></i></th>
                        <th pSortableColumn="label" style="min-width:7rem;font-weight: bolder;">
                            Center
                            <p-sortIcon field="label" />
                        </th>
                    </tr>
                </ng-template>

                <ng-template #body let-center>
                    <tr>
                        <td>
                            <p-tableCheckbox ngDefaultControl [value]="center.value" />
                        </td>
                        <td class="whitespace-nowrap"> {{ center.label }}</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

    </ng-template>

    <ng-template #footer>
        <p-button label="Cancel" icon="pi pi-times" text (click)="hideDialog()" />
        <p-button label="Save" icon="pi pi-check" (click)="save()" />
    </ng-template>
</p-dialog>