<!-- Toolbar -->
<p-toolbar styleClass="mb-2">
    <ng-template #start>
        <div class="font-semibold mr-5" style="font-size:1.5rem">Roles and Permissions</div>
        <p-iconfield>
            <p-inputicon styleClass="pi pi-search" />
            <input pInputText type="text" placeholder="Search..." (input)="onGlobalFilter(dt, $event)" />
        </p-iconfield>
        <p-button icon="fa-solid fa-text-slash" class="ml-2" [rounded]="true" [outlined]="true" severity="contrast"
            (click)="clearGlobalFilter()" />
    </ng-template>
</p-toolbar>

<!-- List View -->
<p-table #dt dataKey="id" [value]="data()" [globalFilterFields]="['permission']" [tableStyle]="{ 'min-width': '75rem' }"
    [rowHover]="true" [scrollable]="true" [paginator]="false">

    <!-- List View Header -->
    <ng-template #header>
        <tr>
            <th pSortableColumn="permission" class="whitespace-nowrap" [width]="'100px'">
                <i class="fa-solid fa-key"></i>
                Permission
                <p-sortIcon field="permission" />
            </th>
            <th pSortableColumn="nationalAdmin" class="whitespace-nowrap" [width]="'100px'">
                <i class="fa-solid fa-user-shield"></i> National Admin
                <p-sortIcon field="nationalAdmin" />
            </th>
            <th pSortableColumn="regionalAdmin" class="whitespace-nowrap" [width]="'100px'">
                <i class="fa-solid fa-user-tag"></i> Regional Admin
                <p-sortIcon field="regionalAdmin" />

            </th>
            <th pSortableColumn="judge" class="whitespace-nowrap" [width]="'100px'">
                <i class="fa-solid fa-user-clock"></i> Judge
                <p-sortIcon field="judge" />

            </th>
            <th pSortableColumn="checkIn" class="whitespace-nowrap">
                <i class="fa-solid fa-user-check"></i> Check In
                <p-sortIcon field="checkIn" />
            </th>
        </tr>
    </ng-template>

    <!-- List View Data -->
    <ng-template #body let-item>
        <tr>
            <td class="whitespace-nowrap"><i class="fa-solid fa-key"></i> {{ item.permission }}</td>
            <td [style]="{'text-align':'center','color': item.nationalAdminColor}"> <i class="fa-solid fa-check"
                    *ngIf="item.nationalAdmin"></i> </td>
            <td [style]="{'text-align':'center','color': item.regionalAdminColor}"> <i class="fa-solid fa-check"
                    *ngIf="item.regionalAdmin"></i> </td>
            <td [style]="{'text-align':'center','color': item.judgeColor}"> <i class="fa-solid fa-check"
                    *ngIf="item.judge"></i> </td>
            <td [style]="{'text-align':'center','color': item.checkInColor}"> <i class="fa-solid fa-check"
                    *ngIf="item.checkIn"></i> </td>
            <!-- 
            <td class="whitespace-nowrap align-top"><i class="{{item.icon}}"></i> {{ item.roleName }}</td>
            <td>
                <ul>
                    <li class="mb-2" *ngFor="let per of item.permissions"> <i class="fa-solid fa-key"></i>
                        {{per}}</li>
                </ul>
            </td> 
            -->
        </tr>
    </ng-template>
</p-table>