<p-toast />

<!-- Toolbar -->
<p-toolbar styleClass="mb-2">
    <ng-template #start>
        <div class="font-semibold mr-5" style="font-size:1.5rem">Users</div>

        <p-iconfield>
            <p-inputicon styleClass="pi pi-search" />
            <input pInputText type="text" placeholder="Search..." (input)="onGlobalFilter(dt, $event)" />
        </p-iconfield>
        <p-button icon="fa-solid fa-text-slash" class="ml-2" [rounded]="true" [outlined]="true" severity="contrast"
            (click)="clearGlobalFilter()" />
        <p-button icon="pi pi-plus" class="ml-4" [rounded]="true" [outlined]="true" severity="success"
            (onClick)="openNew()"
            *ngIf="this.authService.HasUserPermissions([permissionsEnum.Users_NationalAdmins_Add, permissionsEnum.Users_RegionalAdmins_Add, permissionsEnum.Users_Proctors_Add, permissionsEnum.Users_CheckIns_Add])" />
    </ng-template>
</p-toolbar>

<!-- List View -->
<p-table #dt dataKey="id" [value]="data()" [globalFilterFields]="['fullName', 'misId']"
    [tableStyle]="{ 'min-width': '75rem' }" [rowHover]="true" [scrollable]="true" scrollHeight="600px"
    [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} Users"
    [paginator]="true" [rows]="10" [rowsPerPageOptions]="[10, 20, 30]">

    <!-- List View Header -->
    <ng-template #header>
        <tr>
            <th style="width: 1rem"></th>
            <th pSortableColumn="region" class="whitespace-nowrap">
                Region-Center
                <p-sortIcon field="region" />
            </th>
            <th pSortableColumn="fullName" class="whitespace-nowrap">
                Fullname
                <p-sortIcon field="fullName" />
            </th>
            <!-- <th pSortableColumn="password" class="whitespace-nowrap" >
          Password
          <p-sortIcon field="password" />
        </th> -->
            <th pSortableColumn="status" class="whitespace-nowrap">
                Status
                <p-sortIcon field="status" />
            </th>
            <th>
                Roles
            </th>
            <th>
                Genders
            </th>
            <th>
                Skills
            </th>
            <th>
                Events
            </th>
        </tr>
    </ng-template>

    <!-- List View Data -->
    <ng-template #body let-item>
        <tr>
            <td [vAlign]="'top'">
                <p-button icon="pi pi-pencil" class="mr-2" [rounded]="true" [outlined]="true" (click)="openEdit(item)"
                    *ngIf="this.authService.HasUserPermissions([permissionsEnum.Users_NationalAdmins_Update, permissionsEnum.Users_RegionalAdmins_Update, permissionsEnum.Users_Proctors_Update, permissionsEnum.Users_CheckIns_Update])" />
            </td>
            <td class="whitespace-nowrap" [vAlign]="'top'">{{ item.region }} - {{ item.center }}</td>
            <td class="whitespace-nowrap" [vAlign]="'top'">{{ item.fullName }} <br>
                #{{ item.misId }}
            </td>
            <td [vAlign]="'top'">
                <p-tag [value]="item.status" [severity]="constants.GetStatusTag(item.status)"
                    styleClass="dark:!bg-surface-900" />
            </td>
            <td [vAlign]="'top'">
                <ul>
                    <li class="mb-2 whitespace-nowrap" *ngFor="let role of item.assignedRoles"> <i
                            class="fa-solid fa-user-tie"></i>
                        {{role}}</li>
                </ul>
            </td>
            <td [vAlign]="'top'">
                <ul>
                    <li class="mb-2 whitespace-nowrap" *ngFor="let item of item.assignedGenders"> <i
                            class="fa-solid fa-users"></i>
                        {{item}}</li>
                </ul>
            </td>
            <td [vAlign]="'top'">
                <ul>
                    <li class="mb-2 whitespace-nowrap" *ngFor="let item of item.assignedSkillCategories"> <i
                            class="fa-solid fa-chalkboard-user"></i>
                        {{item}}</li>
                </ul>
            </td>
            <td [vAlign]="'top'">
                <ul>
                    <li class="mb-2 whitespace-nowrap" *ngFor="let item of item.assignedEvents">
                        <i class="pi pi-map"></i>
                        {{item.region}} - {{item.hostCenter}} <br>

                        <i class="fa-regular fa-calendar-days"></i>
                        {{ item.startDate | date:'MM/dd/yyyy hh:mm a'}} <br>
                        <i class="fa-regular fa-calendar-days"></i>
                        {{ item.endDate | date:'MM/dd/yyyy hh:mm a'}}
                    </li>
                </ul>
            </td>
        </tr>
    </ng-template>
</p-table>

<!-- Add/Edit Dialog -->
<p-dialog [(visible)]="dialog" [style]="{ width: '80%', height: 'auto' }" header="User Details" [modal]="true">
    <ng-template #content>
        <div class="flex flex-col md:flex-row gap-4">
            <div class="md:w-1/3">
                <!-- MISId / Username -->
                <div class="mb-2">
                    <p-inputgroup>
                        <p-inputgroup-addon>
                            <i class="fa-solid fa-hashtag"></i>
                        </p-inputgroup-addon>
                        <input pInputText type="text" id="misId" [(ngModel)]="addOrEditItem.misId" placeholder="MIS Id"
                            required autofocus fluid />
                        <p-inputgroup-addon>
                            <p-button icon="pi pi-search" (onClick)="searchByMisId()" />
                        </p-inputgroup-addon>
                    </p-inputgroup>
                    <small class="text-red-500" *ngIf="submitted && !addOrEditItem.misId">MIS Id is required.</small>
                </div>

                <!-- Full Name -->
                <div class="mb-2">
                    <p-inputgroup>
                        <p-inputgroup-addon>
                            <i class="fa-solid fa-id-card"></i>
                        </p-inputgroup-addon>
                        <input pInputText type="text" id="fullName" [(ngModel)]="addOrEditItem.fullName"
                            placeholder="Full Name" required autofocus fluid />
                    </p-inputgroup>
                    <small class="text-red-500" *ngIf="submitted && !addOrEditItem.fullName">Fullname is
                        required.</small>
                </div>

                <!-- Region -->
                <div class="mb-2">
                    <p-inputgroup>
                        <p-inputgroup-addon>
                            <i class="pi pi-map"></i>
                        </p-inputgroup-addon>
                        <p-select inputId="region" [options]="regionsService.Regions" optionLabel="label"
                            optionValue="value" [(ngModel)]="addOrEditItem.region" placeholder="Select a Region"
                            [ngStyle]="{'z-index': 103}" fluid />
                    </p-inputgroup>
                    <small class="text-red-500" *ngIf="submitted && !addOrEditItem.region">Region is required.</small>
                </div>

                <!-- Center -->
                <div class="mb-2">
                    <p-inputgroup>
                        <p-inputgroup-addon>
                            <i class="pi pi-building-columns"></i>
                        </p-inputgroup-addon>
                        <p-select inputId="center" [options]="regionsService.GetCentersForRegion(addOrEditItem.region)"
                            optionLabel="label" optionValue="value" [(ngModel)]="addOrEditItem.center"
                            placeholder="Select a Center" [ngStyle]="{'z-index': 102}" fluid />
                    </p-inputgroup>
                    <small class="text-red-500" *ngIf="submitted && !addOrEditItem.center">Center is required.</small>
                </div>

                <!-- Password -->
                <div class="mb-2">
                    <p-inputgroup>
                        <p-inputgroup-addon>
                            <i class="pi pi-lock"></i>
                        </p-inputgroup-addon>
                        <input pInputText type="password" id="password" [(ngModel)]="addOrEditItem.password"
                            placeholder="Password" required fluid />
                    </p-inputgroup>
                    <small class="text-red-500" *ngIf="submitted && !addOrEditItem.password">Password is
                        required.</small>
                </div>

                <!-- Status -->
                <div class="mb-2">
                    <p-inputgroup>
                        <p-inputgroup-addon>
                            <i class="fa-solid fa-wand-magic-sparkles"></i>
                        </p-inputgroup-addon>
                        <p-select inputId="status" [options]="constants.UserStatuses" optionLabel="label"
                            optionValue="value" [(ngModel)]="addOrEditItem.status" placeholder="Select a Status"
                            [ngStyle]="{'z-index': 100}" fluid />
                    </p-inputgroup>
                    <small class="text-red-500" *ngIf="submitted && !addOrEditItem.status">Status is
                        required.</small>
                </div>

                <!-- Assigned Roles -->
                <p-table #dtRoles [value]="roles()" [(selection)]="addOrEditItem.assignedRoles" [rowHover]="true"
                    [scrollable]="true" scrollHeight="300px">

                    <ng-template #header>
                        <tr>
                            <th style="width: 1rem"><i class="fa fa-key"></i></th>
                            <th pSortableColumn="label" style="min-width:7rem">
                                Assigned Roles
                                <p-sortIcon field="label" />
                            </th>
                        </tr>
                    </ng-template>

                    <ng-template #body let-role>
                        <tr [style]="{'color':role.color}">
                            <td>
                                <p-tableCheckbox ngDefaultControl [value]="role.value" />
                            </td>
                            <td> <i class="{{role.icon}}"></i> {{ role.label }}</td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>

            <div class="md:w-1/4">
                <!-- Assigned Genders -->
                <div class="mb-4">
                    <p-table #dtGenders [value]="genders()" [(selection)]="addOrEditItem.assignedGenders"
                        [rowHover]="true" stripedRows>

                        <ng-template #header>
                            <tr>
                                <th style="width: 1rem"><i class="fa-solid fa-users"></i></th>
                                <th pSortableColumn="label" style="min-width:7rem; font-weight: bolder;">
                                    Assigned Genders
                                    <p-sortIcon field="label" />
                                </th>
                            </tr>
                        </ng-template>

                        <ng-template #body let-gender>
                            <tr [style]="{'color':gender.color}">
                                <td>
                                    <p-tableCheckbox ngDefaultControl [value]="gender.value" />
                                </td>
                                <td> <i class="{{gender.icon}}"></i> {{ gender.label }}</td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>

                <!-- Skill Categories -->
                <div class="mb-2"
                    *ngIf="addOrEditItem.assignedRoles && addOrEditItem.assignedRoles.indexOf('Proctor')>=0">
                    <p-table #dtSkills [value]="skillCategories()" [(selection)]="addOrEditItem.assignedSkillCategories"
                        [rowHover]="true" stripedRows>

                        <ng-template #header>
                            <tr>
                                <th style="width: 1rem"><i class="fa-solid fa-kitchen-set"></i></th>
                                <th pSortableColumn="label" style="min-width:7rem;font-weight: bolder;">
                                    Assigned Skills
                                    <p-sortIcon field="label" />
                                </th>
                            </tr>
                        </ng-template>

                        <ng-template #body let-skill>
                            <tr [style]="{'color':skill.color}">
                                <td>
                                    <p-tableCheckbox ngDefaultControl [value]="skill.value" />
                                </td>
                                <td class="whitespace-nowrap"> <i class="{{skill.icon}}"></i> {{ skill.label }}</td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>

            <div class="md:w-1/2"
                *ngIf="addOrEditItem.assignedRoles && (addOrEditItem.assignedRoles!.indexOf('Proctor')>=0 || addOrEditItem.assignedRoles!.indexOf('Regional Admin')>=0)">
                <!-- Events -->
                <div class="mb-2">
                    <p-table #dtEvents [value]="events()" [(selection)]="addOrEditItem.assignedEventIds"
                        [rowHover]="true" [scrollable]="true" scrollHeight="500px">

                        <ng-template #header>
                            <tr>
                                <th style="width: 1rem"><i class="fa-regular fa-calendar-days"></i></th>
                                <th pSortableColumn="region" style="min-width:7rem">
                                    Event Host
                                    <p-sortIcon field="region" />
                                </th>
                                <th pSortableColumn="startDate" style="min-width:7rem">
                                    Event Date
                                    <p-sortIcon field="startDate" />
                                </th>
                                <th style="min-width:7rem">
                                    Centers
                                </th>
                            </tr>
                        </ng-template>

                        <ng-template #body let-event>
                            <tr>
                                <td [vAlign]="'top'">
                                    <p-tableCheckbox ngDefaultControl [value]="event.competitionEventId" />
                                </td>
                                <td class="whitespace-nowrap" [vAlign]="'top'"><i class="pi pi-building-columns"></i> {{
                                    event.region }}
                                    - {{ event.hostCenter }}
                                </td>
                                <td class="whitespace-nowrap" [vAlign]="'top'">
                                    <i class=" fa-regular fa-calendar-days"></i>
                                    {{ event.startDate | date:'MM/dd/yyyy hh:mm a'}} <br>
                                    <i class="fa-regular fa-calendar-days"></i>
                                    {{ event.endDate | date:'MM/dd/yyyy hh:mm a'}}
                                </td>
                                <td [vAlign]="'top'">
                                    <ul>
                                        <li class="mb-2 whitespace-nowrap" *ngFor="let center of event.centers">
                                            <i class="fa-solid fa-key"></i> {{center}}
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>
        </div>
    </ng-template>

    <ng-template #footer>
        <p-button label="Cancel" icon="pi pi-times" text (click)="hideDialog()" />
        <p-button label="Save" icon="pi pi-check" (click)="save()" />
    </ng-template>
</p-dialog>