<!-- Toolbar -->
<p-toolbar styleClass="mb-2">
    <ng-template #start>
        <p-button icon="fa-solid fa-home" class="mr-2" [rounded]="true" [outlined]="true" [severity]="'secondary'"
            (onClick)="router.navigate(['/'])" />

        <p-iconfield>
            <p-inputicon styleClass="pi pi-search" />
            <input pInputText type="text" placeholder="Search..." (input)="onGlobalFilter(dt, $event)" />
        </p-iconfield>
        <p-button icon="fa-solid fa-text-slash" class="ml-2" [rounded]="true" [outlined]="true" severity="contrast"
            (click)="clearGlobalFilter()" />
        <p-button icon="pi pi-plus" class="ml-4" [rounded]="true" [outlined]="true" severity="success"
            (onClick)="openNew()" />
    </ng-template>
</p-toolbar>

<!-- List View -->
<p-table #dt dataKey="id" [value]="data()" [globalFilterFields]="['fullName', 'misId']"
    [tableStyle]="{ 'min-width': '75rem' }" [rowHover]="true" [scrollable]="true" scrollHeight="450px"
    [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} Users"
    [paginator]="true" [rows]="10" [rowsPerPageOptions]="[10, 20, 30]">

    <!-- List View Header -->
    <ng-template #header>
        <tr>
            <th style="width: 1rem"></th>
            <th pSortableColumn="region" class="whitespace-nowrap">
                Region-Center
                <p-sortIcon field="region" />
            </th>
            <th pSortableColumn="fullName" class="whitespace-nowrap">
                Fullname
                <p-sortIcon field="fullName" />
            </th>
            <th pSortableColumn="misId" class="whitespace-nowrap">
                MIS Id / Username
                <p-sortIcon field="misId" />
            </th>
            <!-- <th pSortableColumn="password" class="whitespace-nowrap" >
          Password
          <p-sortIcon field="password" />
        </th> -->
            <th pSortableColumn="status" class="whitespace-nowrap">
                Status
                <p-sortIcon field="status" />
            </th>
            <th>
                Roles
            </th>
            <th>
                Mandals
            </th>
        </tr>
    </ng-template>

    <!-- List View Data -->
    <ng-template #body let-item>
        <tr>
            <td>
                <p-button icon="pi pi-pencil" class="mr-2" [rounded]="true" [outlined]="true"
                    (click)="openEdit(item)" />
            </td>
            <td class="whitespace-nowrap">{{ item.region }} - {{ item.center }}</td>
            <td class="whitespace-nowrap">{{ item.fullName }}</td>
            <td>{{ item.misId }}</td>
            <!-- <td class="align-top">{{ item.password }}</td> -->
            <td>
                <p-tag [value]="item.status" [severity]="constants.GetStatusTag(item.status)"
                    styleClass="dark:!bg-surface-900" />
            </td>
            <td>
                <p-accordion>
                    <p-accordion-panel value="{{item.userId}}">
                        <p-accordion-header>Roles</p-accordion-header>
                        <p-accordion-content>
                            <ul>
                                <li class="mb-2" *ngFor="let per of item.assignedRoles"> <i class="fa-solid fa-key"></i>
                                    {{per}}</li>
                            </ul>
                        </p-accordion-content>
                    </p-accordion-panel>
                </p-accordion>
            </td>
            <td>
                <p-accordion>
                    <p-accordion-panel value="{{item.userId}}">
                        <p-accordion-header>Mandals</p-accordion-header>
                        <p-accordion-content>
                            <ul>
                                <li class="mb-2" *ngFor="let item of item.assignedMandals"> <i
                                        class="fa-solid fa-users"></i>
                                    {{item}}</li>
                            </ul>
                        </p-accordion-content>
                    </p-accordion-panel>
                </p-accordion>
            </td>
        </tr>
    </ng-template>
</p-table>

<!-- Add/Edit Dialog -->
<p-dialog [(visible)]="dialog" [style]="{ width: '400px', height: 'auto' }" header="User Details" [modal]="true">
    <ng-template #content>
        <div class="flex flex-col gap-2">

            <!-- Region -->
            <p-inputgroup>
                <p-inputgroup-addon>
                    <i class="pi pi-map"></i>
                </p-inputgroup-addon>
                <!-- <input pInputText type="text" id="region" [(ngModel)]="addOrEditItem.region" placeholder="Region"
                    required autofocus fluid /> -->
                <p-select inputId="region" [options]="regionsService.Regions" optionLabel="label" optionValue="value"
                    [(ngModel)]="addOrEditItem.region" placeholder="Select a Region" fluid />
            </p-inputgroup>
            <small class="text-red-500" *ngIf="submitted && !addOrEditItem.region">Region is required.</small>

            <!-- 
            <div class="grid grid-cols-12 gap-2">
                <label for="mandal" class="flex font-bold items-center col-span-4">Mandal*</label>
                <div class="col-span-8">
                    <p-select inputId="mandal" [options]="constants.Mandals" optionLabel="label" optionValue="value"
                        [(ngModel)]="addOrEditItem.mandal" placeholder="Select a Mandal" fluid />
                    <small class="text-red-500" *ngIf="submitted && !addOrEditItem.mandal">Mandal is required.</small>
                </div>
            </div>  
            -->

            <!-- Center -->
            <p-inputgroup>
                <p-inputgroup-addon>
                    <i class="pi pi-building-columns"></i>
                </p-inputgroup-addon>
                <input pInputText type="text" id="center" [(ngModel)]="addOrEditItem.center" placeholder="Center"
                    required autofocus fluid />
            </p-inputgroup>
            <small class="text-red-500" *ngIf="submitted && !addOrEditItem.center">Center is required.</small>

            <!-- Full Name -->
            <p-inputgroup>
                <p-inputgroup-addon>
                    <i class="fa-solid fa-id-card"></i>
                </p-inputgroup-addon>
                <input pInputText type="text" id="fullName" [(ngModel)]="addOrEditItem.fullName" placeholder="Full Name"
                    required autofocus fluid />
            </p-inputgroup>
            <small class="text-red-500" *ngIf="submitted && !addOrEditItem.fullName">Fullname is required.</small>

            <!-- MISId / Username -->
            <p-inputgroup>
                <p-inputgroup-addon>
                    <i class="fa-solid fa-hashtag"></i>
                </p-inputgroup-addon>
                <input pInputText type="text" id="misId" [(ngModel)]="addOrEditItem.misId" placeholder="MIS Id" required
                    autofocus fluid />
            </p-inputgroup>
            <small class="text-red-500" *ngIf="submitted && !addOrEditItem.misId">MIS Id is required.</small>

            <!-- Password -->
            <p-inputgroup>
                <p-inputgroup-addon>
                    <i class="pi pi-lock"></i>
                </p-inputgroup-addon>
                <input pInputText type="password" id="password" [(ngModel)]="addOrEditItem.password"
                    placeholder="Password" required fluid />
            </p-inputgroup>
            <small class="text-red-500" *ngIf="submitted && !addOrEditItem.password">Password is required.</small>

            <!-- Status -->
            <p-inputgroup>
                <p-inputgroup-addon>
                    <i class="fa-solid fa-wand-magic-sparkles"></i>
                </p-inputgroup-addon>
                <p-select inputId="status" [options]="constants.UserStatuses" optionLabel="label" optionValue="value"
                    [(ngModel)]="addOrEditItem.status" placeholder="Select a Status" fluid />
            </p-inputgroup>
            <small class="text-red-500" *ngIf="submitted && !addOrEditItem.status">Status is required.</small>

            <!-- Roles -->
            <p-table #dtRoles [value]="roles()" [(selection)]="addOrEditItem.assignedRoles" [rowHover]="true"
                [scrollable]="true" scrollHeight="300px">

                <ng-template #header>
                    <tr>
                        <th style="width: 1rem"><i class="fa fa-key"></i></th>
                        <th pSortableColumn="label" style="min-width:7rem">
                            Roles
                            <p-sortIcon field="label" />
                        </th>
                    </tr>
                </ng-template>

                <ng-template #body let-role>
                    <tr [style]="{'color':role.color}">
                        <td>
                            <p-tableCheckbox ngDefaultControl [value]="role.value" />
                        </td>
                        <td> <i class="{{role.icon}}"></i> {{ role.label }}</td>
                    </tr>
                </ng-template>
            </p-table>

            <!-- Mandal -->
            <p-table #dtMandals [value]="mandals()" [(selection)]="addOrEditItem.assignedMandals" [rowHover]="true"
                [scrollable]="true" scrollHeight="300px">

                <ng-template #header>
                    <tr>
                        <th style="width: 1rem"><i class="fa-solid fa-users"></i></th>
                        <th pSortableColumn="label" style="min-width:7rem">
                            Mandals
                            <p-sortIcon field="label" />
                        </th>
                    </tr>
                </ng-template>

                <ng-template #body let-mandal>
                    <tr [style]="{'color':mandal.color}">
                        <td>
                            <p-tableCheckbox ngDefaultControl [value]="mandal.value" />
                        </td>
                        <td> <i class="{{mandal.icon}}"></i> {{ mandal.label }}</td>
                    </tr>
                </ng-template>
            </p-table>

        </div>
    </ng-template>

    <ng-template #footer>
        <p-button label="Cancel" icon="pi pi-times" text (click)="hideDialog()" />
        <p-button label="Save" icon="pi pi-check" (click)="save()" />
    </ng-template>
</p-dialog>