<!-- Toolbar -->
<p-toolbar styleClass="mb-2">
    <ng-template #start>
        <div class="font-semibold mr-5" style="font-size:1.5rem">Graded Participants</div>
    </ng-template>
</p-toolbar>

<!-- List View -->
<p-table #dt dataKey="id" [value]="data()" [rowHover]="true" [paginator]="false" [scrollable]="true"
    rowGroupMode="subheader" groupRowsBy="participant.bapsId">

    <!-- List View Header -->
    <ng-template #header>
        <tr>
            <th class="whitespace-nowrap" pSortableColumn="participant.region">Region <p-sortIcon
                    field="participant.region" />
                <p-columnFilter type="text" field="participant.region" display="menu" />
            </th>
            <th class="whitespace-nowrap" pSortableColumn="participant.center">Center <p-sortIcon
                    field="participant.center" />
                <p-columnFilter type="text" field="participant.center" display="menu" />
            </th>
            <th class="whitespace-nowrap" pSortableColumn="participant.bapsId">BAPS Id <p-sortIcon
                    field="participant.bapsId" />
                <p-columnFilter type="text" field="participant.bapsId" display="menu" />
            </th>
            <th class="whitespace-nowrap" pSortableColumn="participant.fullName">Full Name <p-sortIcon
                    field="participant.fullName" />
                <p-columnFilter type="text" field="participant.fullName" display="menu" />
            </th>
            <th class="whitespace-nowrap" pSortableColumn="participant.gender">Gender <p-sortIcon
                    field="participant.gender" />
                <p-columnFilter type="text" field="participant.gender" display="menu" />
            </th>
            <th class="whitespace-nowrap" pSortableColumn="participant.language_For_Skill_Competitions">Language
                <p-sortIcon field="participant.language_For_Skill_Competitions" />
                <p-columnFilter type="text" field="participant.language_For_Skill_Competitions" display="menu" />
            </th>
            <th class="whitespace-nowrap">Pravachan Grades</th>
            <th class="whitespace-nowrap">Emcee Grades</th>
        </tr>
    </ng-template>

    <!-- List View Data -->
    <ng-template #body let-item>
        <tr>
            <td class="no-wrap">{{item.participant.region}}</td>
            <td class="no-wrap">{{item.participant.center}}</td>
            <td>{{item.participant.bapsId}}</td>
            <td>{{item.participant.fullName}}</td>
            <td>{{item.participant.gender}}</td>
            <td>{{item.participant.language_For_Skill_Competitions}}</td>
            <td>
                <p-button *ngIf="item.pravachanGrades?.length>0" icon="pi pi-eye" class="mr-2" [rounded]="true"
                    [severity]="'success'" [outlined]="true" (click)="openPravachanGrades(item)" />
            </td>
            <td>
                <p-button *ngIf="item.emceeGrades?.length>0" icon="pi pi-eye" class="mr-2" [rounded]="true"
                    [severity]="'info'" [outlined]="true" (click)="openEmceeGrades(item)" />
            </td>
        </tr>
    </ng-template>
</p-table>

<p-dialog [(visible)]="dialog" [style]="{ width: 'auto', height: 'auto' }" [modal]="true">
    <ng-template #header>
        <div class="grid grid-cols-12 gap-2">
            <div class="col-span-6">
                <h5>
                    <span class="underline">{{selectedParticipant!.fullName}}</span>'s Grade for <span
                        class="ml-1">{{selectedSkillCategory}}</span>
                </h5>
            </div>
            <div class="col-span-5 text-right">
                <h5>
                    Graded {{gradedTopicCounts}} of {{topicsCounts}} topics
                </h5>
            </div>
        </div>
    </ng-template>

    <p-table [value]="selectedGrades" showGridlines [rowHover]="true" [scrollable]="true">
        <!-- Grading Criterias List View Header -->
        <ng-template #header>
            <tr>
                <th class="whitespace-nowrap">
                    Section
                </th>
                <th class="whitespace-nowrap">
                    Topic
                </th>
                <th class="whitespace-nowrap" style="width: 200px;">
                    Marks
                </th>
                <th class="whitespace-nowrap" style="width: 200px;">
                    Maximum Allowed Marks
                </th>
            </tr>
        </ng-template>

        <!-- Grading Criterias List View Data -->
        <ng-template #body let-item>
            <tr [style]="{'color': item.color}">
                <td class="whitespace-nowrap">{{ item.sectionName }}</td>
                <td class="whitespace-nowrap">{{ item.topicName }}</td>
                <td class="whitespace-nowrap">{{ item.marks }}</td>
                <td class="whitespace-nowrap">{{ item.maximumMarks }}</td>
            </tr>
        </ng-template>
    </p-table>
</p-dialog>